nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    padding: 5px 15px;

}
nav li:hover{
    background-color: lightblue;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}
nav > ul > li:hover > ul{
    display: block;

}
.breakdown{
    display: none;
    position: absolute;
    background-color: lightgray;
    padding: 0%;
    margin: 0%;
}
.breakdown li{
    padding: 0%;
    margin: 0%;
}